.hide {
  display: none;
}

.login-text-input,
.login-password-input,
.login-button,
.signup-redirect-text,
.signup-text-input,
.signup-password-input,
.signup-button,
.login-redirect-text {
  display: block;
  margin: 10px auto;
  text-align: center;
  color: #fa8072;
}

.login-text-input,
.login-password-input,
.signup-text-input,
.signup-password-input {
  display: block;
  margin-top: 30px auto;
  height: 50px;
  font-size: 20px;
  width: 50%;
}

.login-button,
.signup-button {
  display: block;
  background-color: #fa8072;
  border: none;
  color: white;
  border: solid 1px #fa8072;
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 15px;
}

.communication-message {
  width: 450px;
  margin: 10px auto;
  color: red;
  text-align: center;
}

.communication-style {
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(250, 250, 250);
  z-index: 2;
}

.chat-area {
  position: fixed;
  top: 0px;
  right: 0px;
  height: auto;
  width: 30%;
  background-color: white;
  z-index: 10;
}

.send-area {
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 31px;
}

.send-field {
  width: 300px;
  height: 25px;
}

.send-btn {
  width: 50px;
}

.bottom-navi {
  position: fixed;
  bottom: -30px;
  overflow-x: auto;
  z-index: 100;
  display: flex;
  width: 100vw;
  /* コンテナの幅をビューポートの幅に設定 */
}

.exit-button {
  height: 58px;
  width: 150px;
}

.exit-button-text {
  display: block;
  color: white;
  font-size: 20px;
  width: 150px;
  text-align: center;
  margin: 0px;
}

.active_false {
  display: none;
}

.active {
  width: 150px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
}

.text_mute_status {
  margin: 0px;
}

.video-start-icon {
  display: block;
  color: white;
  text-align: center;
  margin: 0px auto;
  font-size: 20px;
  height: 20px;
}

.video-chat-start-btn {
  height: 58px;
  margin-bottom: 30px;
  width: 150px;
}

.video-chat-start-text {
  display: block;
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.icon {
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 20px;
}

.chat-area-status-text {
  width: 100%;
  color: white;
  margin: 0px;
  font-size: 20px;
  text-align: center;
}

.chat-area-status-btn {
  z-index: 5;
  width: 150px;
  margin-bottom: 30px;
}

.chat-area-close-text {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 20;
}

.message {
  margin-top: 0px;
  height: 100vh;
  overflow-y: auto;
  list-style: none;
  padding-left: 0px;
  width: 100%;
}

.user-logged-in {
  position: fixed;
  top: 3px;
  left: 1px;
  color: white;
  z-index: 10;
}

.user-logged-in p {
  margin: 0px;
}

.video-chat-wrap {
  width: 100%;
  position: fixed;
  top: 5px;
  z-index: 3;
  overflow-x: auto;
}

#video-wrap {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}


.video-menu {
  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 200;
}

.video-chat-display-btn {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}


#video-user-name {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
}

span {
  display: block;
  height: 50px;
  min-width: 250px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 140px;
}

video {
  display: block;
  width: 250px;
  height: 180px;
  object-fit: cover;
}

.connection-user-info {
  display: block;
  position: fixed;
  right: 5px;
  bottom: 100px;
}

.connection-user {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 230px;
}

.connection-avatar {
  display: block;
  width: 230px;
  height: 160px;
}

li {
  list-style: none;
}

.connection-user-info-btn {
  display: block;
  position: fixed;
  right: 5px;
  bottom: 100px;
  width: 100px;
}

.connection-user-info-btn small {
  color: white;
  text-align: center;
  font-size: 20px;
  display: block;
  width: 100%;
}

.participant-icon {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.close-icon {
  display: block;
  font-size: 30px;
  color: white;
}

.open-navi {
  position: fixed;
  bottom: 70px;
  overflow-x: auto;
  z-index: 100;
  color: white;
  font-size: 30px;
  padding-left: 10px;
}

.close-navi-butoon {
  font-size: 30px;
  color: white;
  padding-left: 10px;
}

.avatar-select-area {
  width: 80%;
  margin: 0 auto;
}

.avatar-select-area p {
  text-align: center;
}

.avatar-select-area select {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.select-avatar-img-wrap {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.select-avatar-img-wrap div {
  margin: 10px 5px;
}

.select-avatar-img-wrap img {
  display: block;
  width: 200px;
  height: 150px;
}

.select-avatar-img-wrap small {
  font-size: 20px;
}

.app-logo-area {
  width: 30%;
  height: 100vh;
  display: grid;
  place-items: center;
}


.video-chat-area {
  display: flex;
}

.login-area {
  margin: 100px 0px 100px 0px;
}

.check-box {
  margin: 0px;
  display: block;
  width: 18px;
  height: 18px;
  padding-top: 3px;
}

.passwor-chackbox-wrap {
  width: 80%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.passwor-chackbox-text {
  display: block;
  font-size: 15px;
}

.image-wrap {
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-wrap img {
  display: block;
  width: 300px;
}

.catchphrase {
  width: 80%;
  margin: 25px auto;
  font-size: 30px;
  color: #fa8072;
  text-align: center;
}

@media screen and (max-width: 460px) {

  .login-text-input,
  .login-password-input,
  .signup-text-input,
  .signup-password-input {
    width: 300px;
    height: 50px;
    font-size: 20px;
  }
}

.network-error-area {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px 20px;
  font-size: 25px;
}

.network-error-area button {
  background-color: rgb(2, 121, 248);
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
}

.terms-container {
  height: 200px;
  /* 適切な高さに設定 */
  overflow-y: scroll;
  /* スクロール可能に */
  border: 1px solid #ccc;
  /* 見た目のためのボーダー */
  padding: 10px;
  margin-bottom: 10px;
  width: 60%;
  margin: 0 auto;
}

.accept-button {
  background-color: #fa8072;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  border: none;
  font-size: 25px;
  margin-top: 30px;
}

.careful-text {
  display: block;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

footer {
  display: block;
  width: 100%;
  margin-top: 30px;
}

footer a {
  display: block;
  color: #fa8072;
  font-size: 30px;
  width: 50%;
}

.twitter-area {
  text-align: right;
}

.facebook-area {
  text-align: left;
}

.social-lin-wrap {
  width: 50%;
  margin: 5px auto;
  display: flex;
}


@media screen and (max-width: 885px) {
  .login-area-wrap {
    display: block;
  }

  .app-logo-area {
    width: 100%;
    height: auto;
    justify-items: start;
  }

  .app-logo-img {
    width: 100px;
  }

}

@media screen and (max-width: 650px) {
  .bottom-navi {
    justify-content: flex-start;
  }

  .chat-area {
    width: 100%;
  }

  .careful-area {
    width: 80%;
  }
}

.copyright-wrap a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin: 10px auto;
}

@media screen and (max-width: 312px) {
  video {
    width: 100%;
  }
}

.careful-area {
  width: 50%;
  margin: 50px auto;
  border: solid 2px #fa8072;
  padding: 20px;
}